.schools_container{
    background-color: white;
    /* width:100%; */
    display: flex;
    flex-direction: column;
    margin:10px;
    border-radius: 10px;
    padding: 10px;
}
.search{
    background-color: #282c34;
    width:100%;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    padding: 5px;
    display: flex;
}
.search input{
    width:90%;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    border: #282c34;
    padding-left: 10px;
    text-transform: capitalize;
}
.search-icon{
    align-self: center;
    margin-left: 10px;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #282c34;
  font-size: 10px;
}
th,td{
    max-width: 150px;
}
table{
    width: 100%;
}

td img{
    width: 30px;
}
.chevron{
  align-self: center;
  width: 6px;
  top:3px;
  position: relative;
  margin-left: 5px;
}
@media(min-width:574px){
table,
th,
td {
  font-size: 16px;
}
th,td{
    max-width: none;
}
    .search{
        background-color: #282c34;
        width:50%;
        align-self: center;
        border-radius: 10px;
        padding: 10px;
        padding: 5px;
        display: flex;
        align-self: center;
    }
    .search input{
        width:95%;
        align-self: center;
        padding: 5px;
        border-radius: 5px;
        border: #282c34;
        padding-left: 10px;
        text-transform: capitalize;
    }
    .search-icon{
        align-self: center;
        margin-left: 10px;
    }
}
.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }