*,*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
font-size: 62%;
}
body{
font-size: 1.6rem;
}

ul{
    list-style: none;
}

.nav_brand {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
}

.nav_item a{
    color: white;
    text-decoration: none;
    padding:  10px;
    /* background: #282c34; */
}
.nav ul a:hover{
    background: #282c34;
}
.nav a:active{
    background: red;
}
.nav{
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: rgba(11, 153, 209, 0.987);
    padding: 0 20px;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.nav_toggler div{
    width:2.5rem;
    height: 0.2rem;
    margin: 0.6rem;
    background: white;
    transition: 0.5s ease-in;
}
.nav_toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
    .nav_toggler{
        display: block;
    }
    .nav_menu{
        position: fixed;
        top:7vh;
        right:0;
        width: 50%;
        /* height: 93vh; */
        padding:10px 0;
    background: rgba(11, 153, 209, 0.987);
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
    transition: 0.5s ease-in;
        
    }
}
.nav_active{
    transform: translateX(0);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px) ; 
}
 .toggle .line2{
    opacity: 0; 
}
 .toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px) ; 
}
a :active{
    color: red;
}